@using WebApp.Components.FormComponents
@using WebApp.Models

@inject WebApp.Services.Repositories.JobSourceRepository JobProviderRepository


<ConfigurationForm Title="Add Company">
    <div class="flex flex-col gap-2 rounded-md">
        <FormTextInput 
            Label="Name" 
            Placeholder="Company" 
            OnValueChanged="OnNameChange" 
            Value="@PartialJobSource.Name" 
        />
        <FormTextInput 
            Label="Key Words" 
            Placeholder="Key Words (separated by ,)" 
            OnValueChanged="OnKeyWordsChanged" 
            Value="@KeyWords"
        />
        <FormTextInput 
            Label="URL" 
            Placeholder="Job page URL" 
            OnValueChanged="(value) => PartialJobSource.Url = value" 
            Value="@PartialJobSource.Url"
        />

        <div class="text-xl font-semibold w-full border-b border-b-black/75">Class Selectors</div>

        <FormTextInput 
            Label="Name" 
            Placeholder="Job title class selector" 
            OnValueChanged="(value) => PartialJobSource.Selector_JobTitle = value" 
            Value="@PartialJobSource.Selector_JobTitle"
        />
        <FormTextInput 
            Label="URL" 
            Placeholder="Job link class selector" 
            OnValueChanged="(value) => PartialJobSource.Selector_JobLink = value" 
            Value="@PartialJobSource.Selector_JobLink"
        />
        <FormTextInput 
            Label="Location" 
            Placeholder="Job location class selector" 
            OnValueChanged="(value) => PartialJobSource.Selector_JobLocation = value" 
            Value="@PartialJobSource.Selector_JobLocation"
        />
        <FormTextInput 
            Label="Description" 
            Placeholder="Job description class selector" 
            OnValueChanged="(value) => PartialJobSource.Selector_JobDescription = value" 
            Value="@PartialJobSource.Selector_JobDescription"
        />

        <div class="flex flex-row gap-2 mt-5">
            <button class="rounded-md bg-[#F4F4F4] border border-1 px-5 py-1" @onclick="AddJobProvider">
                Create
            </button>
        </div>

    </div>

</ConfigurationForm>

@code {
    protected JobSource PartialJobSource = JobSource.Empty;

    [Parameter]
    public EventCallback OnProviderAdded { get; set; }

    protected string KeyWords { get; set; } = "";

    public async Task AddJobProvider()
    {

        if (string.IsNullOrEmpty(PartialJobSource.Name)) return;

        await JobProviderRepository.CreateAsync(PartialJobSource);

        PartialJobSource = JobSource.Empty;

        await OnProviderAdded.InvokeAsync();

        KeyWords = "";
    }

    public void OnNameChange(string name)
    {
        PartialJobSource.Name = name;
    }

    public void OnKeyWordsChanged(string keywords)
    {
        KeyWords = keywords;
        PartialJobSource.KeyWords = KeyWords.Split(",").Select(kw => kw.Trim()).ToList();
    }

}
